@import "./../../assets/scss/mixin/mixin.scss";

.overlay {
  width: 150px;
  height: 150px;

  border-radius: 4px;
  font-size: 40px;
  font-weight: 600;
  font-family: "Tahoma";
  &.disabled {
    pointer-events: none;
    background-color: transparent;
  }
}
